Kaneki/config.py
logfile
Kaneki.session
Kaneki.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Kaneki.mp3
gpic.png
